.invalid {
  /*Should ignore invalid path*/
  background-image: url('./transfo.png');
}

.relative {
  /*Should copy relative path*/
  background-image: url('./images/transfo.png');
}

.relative2 {
  /*Should copy relative path*/
  background-image: url('images/transfo.png');
}

.absolute {
  /*Should ignore absolute path*/
  background-image: url('/images/transfo.png');
}

.absolute2 {
  /*Should ignore absolute path*/
  background-image: url('https://test.com/images/transfo.png');
}